<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div class="container" style="padding:20px">
    <form class="form-horizontal" action="/search-link" method="post">
        <div class="form-group">
            <input type="text" class="form-control" id="l1" name="l1" aria-describedby="emailHelp" placeholder="Link to be searched">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="l2" name="l2" placeholder="Web page link">
        </div>
        {% if flag != 3%}
        <div class="alert alert-{% if flag == 1 %}success{%else%}danger{%endif%}" role="alert">
            {{msg}}
        </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</body>
</html>